# When install internal package, it version just like "*"
save-workspace-protocol = rolling
save-prefix = ''
# When open shell-emulator, just don't need cross-env.
# cross-env NODE_ENV=test node test.js => NODE_ENV=test node test.js
# shell-emulator = true # if open, `run-s` command error.